body {
  overflow-x: hidden;
}

.logo {
  color: #4A4A4A;
  font-size: 36px;
  text-align: center;
  margin-top: 6%;
  font-family: pacifico;
}

.forget {
  margin-top: 5%;
  color: #4A4A4A;
  font-size: 55px;
  text-align: center;
  text-transform: capitalize;
  font-family: 'Merriweather', serif;
}

.under-forget {
  text-align: center;
  margin-top: 2%;
  font-size: 20px;
  text-transform: capitalize;
  color: #4a4a4a;
}